/* External Styles */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset css ended */

/* element selector */
body{
  font-family: Arial, Helvetica, sans-serif;
}

h1{
	font-size: 38px;
	line-height: 40px;
	font-weight: bold;
}

footer {
  text-align: center;
}

button{
	box-shadow: 3px 3px 8px 2px #0077ff;
}

/* id selector - Not recommended */
#topHeader{
  background-color: #e8e8e6;
	padding: 10px 10%;
}

/* class selector - Recommended */ 
.topNav{
	display: inline-block;
	width: 86%;
	text-align: right;
}
.topNav ul li, .primaryNav ul li{
  display: inline;
}

.mainHeader {
	padding: 16px 10%;
}
.logoBox{
	display: inline-block;
  width: 250px;
}

.primaryNav{
	display: inline-block;
	height: 50px;
	width: calc(100% - 260px);
	vertical-align: top;
	text-align:  right;
}

.primaryNav ul {
	padding: 12px;
}

.primaryNav ul li a {
	color: grey;
	text-decoration: none;
	font-size: 20px;
	margin: 0 15px;
}

.slideshow{
  text-align: center;
	background: #e7e7e7  url('../images/office-bg.jpeg') no-repeat;
	background-size: cover;
  padding: 140px 0 140px 0; /* top right bottom left */
}

.slideshow h1{
	text-shadow: 8px 5px 6px #0e014f;
	color: #fff;
}

.slideshow p{
	color: white;
	text-shadow: 5px 4px 5px #000000;
	font-size: 20px;
	padding: 33px;
}

.introWrapper{
	padding: 50px 10%;
}

.introWrapper h2{
	font-size: 36px;
	line-height: 43px;
	text-align: center;
}

.careerWrapper{
	display: flex;
	padding: 0 10%;
	background: darkblue;
	height: 324px;
}

.careerWrapper .banner{
	width: 50%;
}

.careerWrapper .jobListing{
	width: 50%;
	padding: 45px 72px;
}

.jobListing h4, .jobListing p{
	color: #fff;
}
.jobListing h4{
	font-size: 30px;
	line-height: 42px;
}

.jobListing p{
	line-height: 36px;
}

/* contact page styles */
.mapWrapper{
	padding: 50px 10%;
	text-align: center;
}

.contactWrapper{
	padding: 50px 10%;
	display: flex;
}
.contactFormWrapper{
	width:70%;
}
.addressWrapper{
	width: 30%;
}

.contactFormWrapper h3{
	font-size: 32px;
}

.formField{
	margin: 30px 0;
}

.contactFormWrapper label{
	width: 200px;
	display: inline-block;
}

/* attribute selector */
input[type='text'], input[type='email'], textarea{
	width: 400px;
	padding: 10px;
}

.contactFormWrapper button[type='reset']{
	margin-left: 202px;
}